name: tests

on:
  push:
  pull_request_target:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest # ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Style checking
        if: ${{ matrix.python-version == '3.10' }}
        run: |
          uv run ruff check src tests
          uv run ruff format --check src tests

      - name: Type checking
        if: ${{ matrix.python-version == '3.10' }}
        run: |
          uv run mypy src tests

      - name: Run tests
        run: |
          uv run pytest --cov --cov-report xml

      - name: Upload coverage to Codecov
        if: ${{ github.event_name != 'pull_request_target' && matrix.python-version == '3.10' }}
        uses: codecov/codecov-action@v5
        with:
          env_vars: PYTHON_VERSION
